<section class="login_banner">
    <div class="container">
        <div class="row">
            
            <div class="login_left_row">
                <h6>WELCOME TO ALGO LOGIC</h6>
                <p>Join our community that have more than 10000 subscribers and learn new things everyday</p>
                
                <h5>Don't have account? <a href="javascript:void();" (click)="goToSignUp();">Sign up</a></h5>
            </div>
            
            <div class="login_right_row">
                <div class="form_right">
                    <img src="../../../assets/images/logo_2.svg"/>
                    <h1>LOGIN</h1>
                    <form>
                        <div class="input_sec input_sec_one">
                            <label>EMAIL</label>
                            <input type="text" placeholder="enter here..."/>
                        </div>

                        <div class="input_sec">
                            <label>PASSWORD</label>
                            <input type="text" placeholder="enter here..."/>
                        </div>

                        <div class="forget">
                            <a href="#">FORGET?</a>
                        </div>
                        
                        <a href="dashboard.html">LOGIN <img src="../../../assets/images/login_ico.svg"/></a>
                        
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</section>